.panel.active {
    position: absolute;
    right: 26%;
    z-index: 99;
    top: 21%;
    height: 60%;
    width: 46%;
}
.partie_left{
    padding-top: 3%;
    padding-left: 15%;
}
.partie_right{
    padding-top: 3%;
    padding-left: 25%;
}
.form_vetement{
    padding-top: 3%;
    padding-left: 10%;
}
.form_chaussure{
    padding-top: 3%;
    padding-left: 10%;
}
.form_accessoire{
    padding-top: 3%;
    padding-left: 10%;
}
.form_lign_maison{
    padding-top: 3%;
    padding-left: 10%;
}
.form_art_table{
    padding-top: 3%;
    padding-left: 10%;
}
.form_decoration{
    padding-top: 3%;
    padding-left: 10%;
}
.custom-osi-container {
    height: 100vh;
}
.custom-osi-accordion {
    font-family: arial;
}
.custom-osi-accordion .accordion {
    background-color: #FFFFFF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.custom-osi-accordion .accordion:hover {
    background-color: #FFFFFF;
}
.custom-osi-accordion .accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.custom-osi-accordion .active {
    background-color: #FFFFFF;
}
.custom-osi-accordion .active:after {
  
}
.custom-osi-accordion .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.custom-osi-accordion .panel.active {
    max-height: initial;
}


.logo_header{
    padding-left: 50%;
}
.form_im{
    padding-left: 20px;
    padding-right: 20px;

}
.forme_p{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #2D2929;
    
}
.forme_pwhi{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-top: 6px;
    color: #2D2929;
    
}
.forme_pp{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #2D2929;
}
.forme_p_couleur{
    font-family: 'Raleway';
font-style: normal;
font-size: 20px;
line-height: 23px;
   color:  #7A1CC3;
}
#forme_search{
    padding-left: 15%;
}
.devenir_vendeur{
    max-inline-size: min-content;
    padding-left: 7%;
}
.compte{
    text-align-last: center;
    border-left: 1px solid black;
    
}
.whishlist{
    text-align-last: center;
   
}
.panier{
    text-align-last: center;
    border-right: 1px solid black;
}
.form_i{
    margin-left: -10px;
    color: white;
    font-size: 20px;
    background: #7A1CC3;
    border-radius: 0px 55px 55px 0px;
    padding-right: 20px;
}

.form_input{
    width: 430px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background: #F7F7F7;
    border-radius: 55px 0px 0 55px;
}
.boxi{
width: 500px;
height: 50px;
background-color: white;
border-radius: 30px;
display: flex;
align-items: center;
padding: 20px;
}
.form_ul{
    padding-left: 10%;
    align-items: center;
}
.form_li{
    padding: 0 1px;
}
#decouvrir{
    border-top: 10px solid #E5E5E5;
    border-bottom: 10px solid #E5E5E5;
}

.container-decouvrir{

}
.row-container-decouvrir{
    border-left: 45px solid #E5E5E5;
    border-right: 45px solid #E5E5E5;
}
.form_categories{
    font-family: 'Raleway';
    padding-left: 18px;
    padding-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7A1CC3;
}
.decouvrir_right{
    background-image: url(img/imagedecouvrir.png);
    width: 100%;
    height: 100%;
    padding-top: 10%;
}
.text_decouvrir_right{
    text-align: center;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
text-transform: uppercase;
padding-bottom: 50px;
color: #FFFFFF;
}
.form_decouvrir_right{
    text-align: center;
}
.par_decouvrir{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}
.right_decouv{
    border-left: 10px solid #E5E5E5;
}
.car_img{
    text-align: center;
}
.car_t{
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #000000;
}
.fond-une{
    
}
#a_la_une{
    border-top: 10px solid #E5E5E5;
    border-left: 45px solid #E5E5E5;
    border-right: 45px solid #E5E5E5;
}
.p_a_la_une{
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-transform: capitalize;
color: #7A1CC3;

}
.col-a-la-une{
    padding: 40px;
}
.col-voir_tout{
    padding: 30px;
}
.p_voir_tout{
 font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-transform: capitalize;
color: #7A1CC3;
text-align: end;
}
.row-plus-vendu{
    border-top: 10px solid #E5E5E5;
    border-left: 45px solid #E5E5E5;
    border-right: 45px solid #E5E5E5;
}
.col-plus-vendu{
    padding: 40px;
}
.p_plus_vendu{
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-transform: capitalize;
color: #7A1CC3;
}
.img_robe{

}
.petit_haut{
text-align: end;
padding: 15px;
}
.im_coeur{

}
.image_contenue{
    width: 50%;
    align-self: center;
}
.form-text-ro{
    font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #000000;
}
.form-montant{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #7A1CC3;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
.form-etoile{
text-align: center;
padding-bottom: 0px;
padding-top: 0px;
}
.checked {
    color: #7A1CC3;
  }
.image_loc_left{

}
.bas_card{
    justify-content: center;
    border-top: 1px solid #EEEEEE;
        padding-bottom: 0px;
}
.img_local{

}
.p_local_right{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: rgba(0, 0, 0, 0.7);
padding-left: 10px;
}
.form_plus_vendu{
    display: flex;
    justify-content: space-evenly;
}
.row-meilleurs-vendeur{
    border-top: 10px solid #E5E5E5;
    border-left: 45px solid #E5E5E5;
    border-right: 45px solid #E5E5E5;
    background: #7A1CC3;
}
.col-meilleur-vendeur{
padding: 40px;
}
.p_meilleur_vendeur{
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-transform: capitalize;
color: #FFFFFF;
padding-bottom: 20px;
padding-left: 6px;
}
.image-blanc{

}
.blanc_meilleur{
    display: flex;
    justify-content: space-evenly;
}
.row-top-categorie{
    border-top: 10px solid #E5E5E5;
    border-left: 45px solid #E5E5E5;
    border-right: 45px solid #E5E5E5;
}
.col-top-categorie{
padding: 40px;
}
.p_top_categorie{
    font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;
text-transform: capitalize;
color: #7A1CC3;
}
.row-bas-de-page{
    border-top: 50px solid #E5E5E5;
    padding-left: 45px;
    padding-right: 45px;
    background: #000000;
}
.col-bas-de-page{

}
.p_telecharger_gratuit{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
padding-left: 35px;
}
.form_android{
    text-align-last: center;
    padding: 12px;
    width: 75px;
    height: 75px;
    border: 0.5px solid #FFFFFF;
box-sizing: border-box;
border-radius: 10px;
}
.p_form_android{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}
.p_form_app{
    text-align-last: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF; 
}
.form_app{
    padding: 12px;
    width: 75px;
    height: 75px;
    border: 0.5px solid #FFFFFF;
box-sizing: border-box;
border-radius: 10px;
}
.suivre_rx{
padding-top: 70px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
padding-left: 30px;
}
.image-rx{
    padding-top: 20px;
    justify-content: space-between;
    padding-left: 30px;
}
.left-telecharger{
    padding-top: 30px;
    padding-bottom: 35px;
}
.p_qui_somme_nous{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    
}
.paragraphe_qui_sommes_nous{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}
.form-qui-somme-nous{
    padding-top: 30px;
    padding-left: 60px;
}
.p_categorie{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    
}
.paragraphe_categorie{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}
.form-categorie{
    padding-top: 30px;
    padding-left: 60px;
}
.form-nous-contacter{
    padding-top: 30px;
    padding-left: 60px;
}
.p_nous_contacter{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.text_paceholder{
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 26px;
letter-spacing: 0.05em;
color:white;
}
.text_paceholder:focus {
    color: #FFFFFF !important;
}
.message_form{
    padding-top: 20px;
}
.bontton_env{
    text-align: end;
    padding-top: 20px;
}
.img_from_appl{
    padding-left: 10px;
}